.mobile-menu-item-about {
  background-color: $pink-color;
}

.mobile-menu-item-classes {
  background-color: $green-color;
}

.mobile-menu-item-faq {
  background-color: $blue-color;
}

.mobile-menu-item-schedule {
  background-color: $red-color;
}

.mobile-menu-item {
  text-decoration: none;
  color: $black-color;
}
  